<footer class="d-flex justify-content-between align-items-end fw-bold">
    <div class="text-center">&copy; {{date | date:'yyyy' }} - Ma Jeuxvidéothèque - Tous droits réservés</div>
    <div>
        Tristan Erard -
        <a href="https://fr.linkedin.com/in/tristan-erard-2ba7b9128" class="text-reset" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Titossaniti" class="text-reset" target="_blank"><i class="fa-brands fa-square-github"></i></a>
    </div>
</footer>