<footer>
    <div class="row d-flex align-items-center fw-bold text-center">
        <div class="col-sm-12 col-lg-4">
            <div class="text-center col-12">{{date | date:'yyyy' }} - Ma Jeuxvidéothèque
            </div>
            <div  class="col-12">
                &copy; Tous droits réservés
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <img src="/assets/logo.png" alt="Logo de Ma Jeuxvidéothèque"/>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="col-12">
                <a href="https://fr.linkedin.com/in/tristan-erard-2ba7b9128" class="text-reset" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Titossaniti" class="text-reset" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            </div>
            <div class="col-12">
                Tristan Erard
            </div>
        </div>
    </div>
</footer>