footer{
    padding: 2vw 6vw;
    border-top: solid 2px rgba(128, 128, 128, 0.445);
    padding-bottom: 25px;
    color: #9E4D3F;
}
i{
    font-size: 1.7vw;
    margin: 0px 10px 0px 0;
}
a{
    cursor: none;
}
a :hover{
    color: white;
}
img{
    width: auto;
    height: 70px;
}