footer{
    padding: 2vw 6vw;
    border-top: solid 2px rgba(128, 128, 128, 0.445);
    padding-bottom: 25px;
    color: #9E4D3F;
}
i{
    font-size: 1.7vw;
}
a :hover{
    color: white;
}
img{
    width: auto;
    height: 70px;
}
.contact{
    display: none;
}
@media screen and (max-width:992px) {
    i{
        font-size: 30px;
    }
    div div{
        margin-top: 10px;
    }
    .contact{
        display: block;
        color: #9E4D3F;
    }
}