nav{
    backdrop-filter: blur(10px);
    border-bottom: solid 2px rgba(128, 128, 128, 0.445);
}
img{
    width: 350px;
}
nav div div{
    margin: auto;
}
a{
    color: #9E4D3F;
    text-decoration: none;
}
//animation contactez-moi !
.pulsate-fwd:hover {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
 @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}
//