.flip-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px;
}
a{
    cursor: none;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    border-radius: 20px 20px;
    height: 20vw;
    perspective: 1000px; /* 3D effect */
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 52% 57%, rgba(43, 19, 2, 0.89) 24%, rgba(17, 17, 17, 1) 80%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 52% 57%, rgba(43, 19, 2, 0.89) 24%, rgba(17, 17, 17, 1) 80%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 52% 57%, rgba(43, 19, 2, 0.89) 24%, rgba(17, 17, 17, 1) 80%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 52% 57%, rgba(43, 19, 2, 0.89) 24%, rgba(17, 17, 17, 1) 80%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 52% 57%, rgba(43, 19, 2, 0.89) 24%, rgba(17, 17, 17, 1) 80%);
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    border-radius: 20px 20px;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 20vw;
    border-radius: 20px 20px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the back side */
.flip-card-back {
    background-color: #a04b453d;
    color: white;
    transform: rotateY(180deg);
  }
  .savoirplus{
    margin: auto;
    width: auto;
  }