<header class="container-fluid">
<div class="row py-4 text-center">
  <div class="col-sm-12 col-lg-7 align-self-center">
    <h1>Ma Jeuxvidéothèque</h1>
    <p>Vous y trouverez une large sélection de jeux vidéos qui ont marqué ma vie !<p>
    <p>Vous pouvez naviguer à travers les pages ou alors filtrer et trier les jeux selon certains critères.</p>
    <p>En cliquant sur un jeu vous accéderez à sa fiche afin d'avoir des informations supplémentaire.</p>
    <p>Si vous ne savez pas quoi chercher, laissez vous emporter par les jeux qui défilent aléatoirement dans le carrousel.</p>
    <p>Vous pouvez aussi me contacter si vous le souhaitez, via le formulaire accessible sur la barre de navigation.</p>
    <p>Vous souhaitant une bonne visite !</p>
  </div>

  <div class="col-sm-12 col-lg-4 align-self-center">
    <carousel [interval]="3300" [isAnimated]="true" class="carousel">
      <slide *ngFor="let image of apiImages">
        <a routerLink="/home">
          <img [src]="'https://quaint-tan-bull.cyclic.app/images/' + image.image + '.jpg'" class="d-block w-100 rounded" alt="Carrousel avec une image de {{image.name}}">
        </a>
      </slide>
    </carousel>
  </div>
</div>
</header>