h2{
    font-weight: bold;
    color:#9E4D3F;
    padding: 1vw 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.445);
    border-top: solid 1px rgba(128, 128, 128, 0.445);
}
.prevnext button{
    width: 25%;
}
#sortfilter, p{
    color: #9E4D3F;
}
#sortfilter{
    border-right: solid 2px rgba(128, 128, 128, 0.445);
    margin-bottom: 10px;
    padding-left: 1.7%;
}
ul{
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 2%;
}
li div{
    font-size: 0.8vw;
    font-weight: bold;
}
.sortbtn{
    display: flex;
    flex-direction: column;
}
.sortbtn button{
    margin-top: 5px;
}
.trierfiltrer{
    border-bottom: solid 1px #9E4D3F;
}
//Game card anim
.vibrate-2:hover{-webkit-animation:vibrate-2 .3s linear infinite both;animation:vibrate-2 .3s linear infinite both}

 @-webkit-keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}
//


//checkbox style//
.toggle-pill-dark input[type="checkbox"] {
    display: none;
  }
  .toggle-pill-dark input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #303e58;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    --webkit-user-select: none;
    --moz-user-select: none;
    --ms-user-select: none;
    --webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  .toggle-pill-dark input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #9E4D3F;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .toggle-pill-dark input[type="checkbox"]:checked + label:before {
    background: #47cf73;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
    -webkit-transform: rotate(295deg);
    transform: rotate(295deg);
  }
////////