<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <h2 class="text-center">Découvrez {{nbOfGame}} jeux qui m'ont marqués !</h2>

  <div id="sortfilter" class="col-12 col-lg-2">
    <div>
      <div class="trierfiltrer fw-bolder" aria-label="Options de tri">Trier</div>
      <div class="sortbtn my-3" role="group">
        <button (click)="sortByYear('desc')" class="btn btn-secondary mx-2" aria-label="Trier du plus récent au plus ancien" role="button">+ Récent</button>
        <button (click)="sortByYear('asc')" class="btn btn-secondary mx-2" aria-label="Trier du plus ancien au plus récent" role="button">+ Ancien</button>

        <button (click)="sortByName('asc')" class="btn btn-secondary mx-2" aria-label="Trier par ordre alphabétique" role="button">A - Z</button>
        <button (click)="sortByName('desc')" class="btn btn-secondary mx-2" aria-label="Trier par ordre inversé de l'alphabet" role="button">Z - A</button>
      </div>
    </div>
    <div>
      <div class="trierfiltrer fw-bolder my-3" aria-label="Options de filtre">Filtrer</div>
      <div class="text-start" role="group">

        <div>
          <p class="fw-bold" (click)="toggleAccordion1()" aria-label="Bouton pour accéder au filtrage par studio, cliquer pour sélectionner les studios de jeu" role="button">Par studios <i class="fa-solid fa-chevron-down chevron1"></i></p>
          <ul class="accordion pt-1 scrollbarStyle" [class.expanded]="expandStudio" role="group">
            <li *ngFor="let studio of uniqueStudios" class="toggle-pill-dark d-flex">
              <div class="me-1">
                <input type="checkbox" (change)="updateSelectedStudios(studio, checked)" *ngIf="uniqueStudios" [checked]="selectedStudios.includes(studio)" #checked id="pill{{studio}}" name="check" role="button">
                <label for="pill{{studio}}"></label>
              </div>
              <div>{{studio}}</div>
            </li>
          </ul>
        </div>
        
    
        <div>
          <p class="fw-bold" (click)="toggleAccordion2()" aria-label="Bouton pour accéder au filtrage par année, cliquer pour sélectionner les années de sortie des jeux" role="button">Par années <i class="fa-solid fa-chevron-down chevron2"></i></p>
          <ul class="accordion pt-1 scrollbarStyle" [class.expanded]="expandYear" role="group">
            <li *ngFor="let year of uniqueYears" class="toggle-pill-dark d-flex">
              <div class="me-1"><input type="checkbox" (change)="updateSelectedYears(year, checked)" *ngIf="uniqueYears" [checked]="selectedYears.includes(year)" #checked id="pill{{year}}" name="check" role="button">
                <label for="pill{{year}}"></label></div>
              <div>{{year}}</div>
            </li>
          </ul>
        </div>
        
        <div>
          <p class="fw-bold" (click)="toggleAccordion3()" aria-label="Bouton pour accéder au filtrage par support, cliquer pour sélectionner les supports utilisés pour jouer" role="button">Par supports utilisés <i class="fa-solid fa-chevron-down chevron3"></i></p>
          <ul class="accordion pt-1 scrollbarStyle" [class.expanded]="expandSupport" role="group">
            <li *ngFor="let support of uniqueSupports" class="toggle-pill-dark d-flex">
              <div class="me-1"><input type="checkbox" (change)="updateSelectedSupports(support, checked)" *ngIf="uniqueSupports" [checked]="selectedSupports.includes(support)" #checked id="pill{{support}}" name="check" role="button">
                <label for="pill{{support}}"></label></div>
              <div>{{support}}</div>
            </li>
          </ul>
        </div>
        <button class="btn col-12" (click)="resetFilters()" aria-label="Bouton pour réinitialiser les filtres" role="button">Réinitialiser les filtres</button>
      </div>
    </div>
  </div>

    <!-- 
  Le bouton "Réinitialiser les filtres" défini simplement la valeur de "selectedStudios" en tableau vide, ce qui permet à l'utilisateur de réinitialiser les filtres cochés.
    -->

  <div class="col-12 col-lg-10">
    <div class="row d-flex justify-content-center" aria-label="Listes des jeux" role="group">
      <app-game-list-card
        *ngFor="let item of items"
        [item]="item"
        class="col-12 col-lg-4 my-3 vibrate-2"
      ></app-game-list-card>
    </div>
    <div class="d-flex justify-content-around prevnext">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="my-3 btn"  aria-label="Bouton pour accéder à la page précédente" role="button">Précédent</button>
      <button (click)="nextPage()" [disabled]="currentPage === (nbOfGame / itemsPerPage)" class="my-3 btn"  aria-label="Bouton pour accéder à la page suivante" role="button">Suivant</button>
    </div>
  </div>

  <!-- Ce code utilise les propriétés currentPage et itemsPerPage pour déterminer quelles données afficher. Les boutons "Précédent" et "Suivant" appellent les fonctions previousPage() et nextPage() pour changer la page courante, et les boutons sont désactivés si l'utilisateur est déjà sur la première ou la dernière page.-->
  </div>
</div>