body{
    background-color: #111111;
}
.btn{
    background-color: #9E4D3F;
    color: #111111;
    border-radius: 12px;
    border: solid 1px #9E4D3F;
    font-weight: bold;
}
.btn:hover{
    background-color:#111111;
    color: #9E4D3F;
    font-weight: bold;
    border: solid 1px #9E4D3F;
}
.btn:disabled{
    background-color: #9E4D3F;
    color: #111111;
    border-radius: 12px;
    border: solid 1px #9E4D3F;
    font-weight: bold;
}