<div *ngIf="item" class="container">
    <div class="row mainbox my-4 py-3 px-2" aria-label="Fiche du jeu">
        <div class="d-lg-flex col-12">
            <div class="d-lg-flex col-12 col-lg-8 align-self-center ">
                <div class="col-12 col-lg-6 align-items-between">
                    <div class="fs-2" aria-label="Nom du jeu">{{item.name | uppercase}}</div>
                    <div class="fs-5" aria-label="Année de sortie du jeu">{{item.year}}</div>
                </div>
                <div class="col-12 col-lg-6">
                    <div>de <span class="fs-2" aria-label="Studio qui a développé le jeu">{{item.studio | uppercase}}</span></div>
                    <div class="fs-5" aria-label="Type du jeu">{{item.type | titlecase}}</div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-4 my-lg-0">
                <img src="https://quaint-tan-bull.cyclic.app/images/{{item.image}}.jpg" alt="Image du jeu {{item.name}}">
            </div>
        </div>
        <div class="middlebox d-flex text-center py-2 my-3 align-items-center">
            <div class="col-4" >Support utilisé : {{item.support | uppercase}}</div>
            <div class="col-4">Mode de jeu joué : {{item.mode | titlecase}}</div>
            <div class="col-4">Avis : {{item.avis}}/5</div>
        </div>
        <div>
            <div class="fs-2">Description<i class="fa-solid fa-caret-down ms-2"></i></div>
            <p id="desc" aria-label="Description du jeu">{{item.desc}}</p>
        </div>
    </div>
</div>